@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
</head>
<body>
    <section id="header">
        <div>
            <img src="~/img/mail.png" alt="">
        </div>
<div>
   <a href="mailto:info@hayamotoenterprises.com" target="blank"><h5>info@hayamotoenterprises.com</h5></a>
</div>
<div>
    <img src="~/img/phone.png" alt="">
</div>
<div>
    <a href="" target="blank"><h5>+92-343 4313596</h5></a>
 </div>
 
 <div>
        <a href="https://web.facebook.com/profile.php?id=100026446246041"  ><img class=" pad" src="/~img/fb.png" alt=""></a>
        <a href="https://www.instagram.com/hayamoto_enterprises/?hl=en"  ><img src="~/img/in.png" alt=""></a>
        <a href="#"><img src="~/img/twitter.png" alt=""></a>
    </div>
  <div>
      <a href="login.html"><img class="pad1" src="/img/act.png" alt=""><h4>Login</h4> </a>  
  </div>
  <HR></HR>
    </section>
    <br><br>
    <section>
        <div id="logo">
            <a href="index.html"><img src="/img/logo/logo.png" alt=""></a>
        </div>  
  <div  class="pad2"><input id ="p"type="text" placeholder="What do you Need?"> </div>
  <div>
     <button><img class="search" src="/img/search.png" alt=""></button> </div>
    </section>
 
 <br><br>
 <section >
    <div id="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="">Categories</a>
            <ul>
                <li><a href="Casual_wear.html">Casusual Wear</a></li>
                <li><a href="martialarts.html">MartialArts Uniforms</a></li>
                <li><a href="">Sports Wear</a></li>
            </ul></li>
            <li><a href="contactus.html">Contact US</a></li>
        </ul>
    </div>
</section>
 <section  id="c_wear">
     <br>
    <h1 style="background-color: black; color: white;width: 100%; height: 60px; margin-top: 65px; text-align: center;     padding-top: 22px;">casual wear</h1>
   
    <div>
        <a href=""><img src="~/img/casual wear/jersy.jpg" alt=""></a> 
     <h2>Jersy</h2>
     <h4>Price: $100</h4>
        </div>
        <div>
            <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/HE-SWS02.jpg" alt=""></a>  
            <h2>HE-SWS02</h2> 
            <h4>Price: $125</h4>
            </div>
            <div>
                <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/Wholesale Bulk Simple Design Men Multi Color Sweats/HE-SWS11.jpg" alt=""></a>   
                <h2>HE-SWS11</h2> 
                <h4>Price: $150</h4>   
            </div>
                <div>
                    <a href=""><img src="~/img/Shirts/O neck Shirts/HE-0S04.jpg" alt=""></a>   
                    <h2>HE-0S04</h2>  
                    <h4>Price: $75</h4>  
                </div>
                    <div>
                        <a href=""><img src="~/img/Shirts/Polo Shirts/H02768bf989c243dd8a73775c11a2c988i.jpg" alt=""></a>   
                        <h2>H027</h2>
                        <h4>Price: $160</h4>    
                    </div>
                        <div>
                            <a href=""><img src="~/img/Shirts/polo shirts2/500x500/H392b1734720141049506c9e8599d047c0.jpg" alt=""></a>   
                            <h2>H392</h2>
                            <h4>Price: $95</h4>    
                        </div>
                            <div>
                                <a href=""><img src="~/img/Shirts/v neck shirt/2-13.jpg" alt=""></a>   
                                <h2>2-13</h2> 
                                <h4>Price: $105</h4>   
                            </div>
                                <div>
                                    <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/HE-SWS06.jpg" alt=""></a>   
                                    <h2>HE-SWS06</h2> 
                                    <h4>Price: $200</h4>   
                                </div>
                                    <div>
                                        <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/HE-SWS05.jpg" alt=""></a>   
                                        <h2>HE-SWS05</h2> 
                                        <h4>Price: $250</h4>   
                                    </div>
                                        <div>
                                            <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/HE-SWS06.jpg" alt=""></a>   
                                            <h2>HE-SWS06</h2>  
                                            <h4>Price: $300</h4>  
                                        </div>
                                            <div>
                                                <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/HE-SWS08.jpg" alt=""></a>   
                                                <h2>HE-SWS08</h2>   
                                                <h4>Price: $700</h4> 
                                            </div>
                                                <div>
                                                    <a href=""><img src="~/img/Shirts/100 Cotton Sweatshirts_/HE-SWS09.jpg" alt=""></a>   
                                                    <h2>HE-SWS09</h2>  
                                                    <h4>Price: $400</h4>  
                                                </div>
    
</section>

<div class="clear">
    <section id="footer">
        <div class="background">
            <div class="adjust">
                <h5>ABOUT US</h5>
                <p> we are manufacturers and worldwide
                exporters of quality SPorts Wear,Casual Wear,Martial Uniform,Fitness Wear,Fight Wear, Kevlar Garments, Motorbike Garments and Boxing Products,We uses the highest technology, quality materials and skilled workforce to mnaufacture the hgh quality products.We have strong desire to supply our customer with better quality products and service . Customers ideas,design and sample are welcome.We turn customer ideas into reality.. </p>
            </div>
            <div class="adjust">
                <h5> USEFUL LINKS</h5>
                <ul class="remove-bullets">
                    <a href="#"><li>Home </li></a>
                    <a href="#"><li>About Us </li></a>
                    <a href="#"><li>Contact Us </li></a>
                    <a href="#"><li>Privacy Policy </li></a>
                    <a href="#"><li>Terms&Conditions </li></a>
                </ul>
            </div>
            <div class="adjust">
                <h5> WHY US</h5>
                <ul class="bullets">
                    <a href="#"><li>24 Hours Online </li></a>
                    <a href="#"><li>Free Consultant </li></a>
                    <a href="#"><li>Professional Manufactures </li></a>
                    <a href="#"><li>Professional Manufactuters </li></a>
                    <a href="#"><li>Shipping on Time </li></a>
                </ul>
            </div>
            <div class="adjust">
                <h5>CONTACT INFORMATION</h5>
                <ul class="remove-bullets">
                    <li>Address: will be written</li>
                    <li>Tel 1: will be written</li>
                    <li>Tel 2:  will be written</li>
                    <li>Mail 1:<a href="mailto:azharsahi037@gmail.com">azharsahi037@gmail.com</a></li>
                    <li>Mail 2:<a href="mailto:19101001-037@uskt.edu.pk">19101001-037@uskt.edu.pk</a></li>
                </ul>
            </div>
            <hr style="border-color: white; border-width: 1px">
            <h5 style="color: white; text-align: center; padding-bottom: 28px;">Copyright 2020 All rights reserved</h3>
            
        </div>
    </section>
</div>
</body>
</html>